#* @vtlvariable name="VelocityHelper" type="com.fluffy.universe.utils.VelocityHelper" *#
#* @vtlvariable name="user" type="com.fluffy.universe.models.User" *#
#* @vtlvariable name="post" type="java.util.Map" *#
#* @vtlvariable name="posts" type="java.util.List" *#
#parse("/views/layouts/full.vm")
#set($templatePageName = "Home")
#@layoutFull()
#if(!$user)
<div class="hero">
    <h1 class="hero__heading">Create a World!</h1>
    <p class="hero__description">Share thoughts, impressions and experience with your audience.</p>
    <a class="hero__button button button--primary" href="/sign-up">Sign up</a>
</div>
#end
<div class="container">
    <div class="cards">
        #foreach($post in $posts)
            <div class="card">
                <div class="card__header">
                    <h2 class="card__heading">${post.get("post.title")}</h2>
                </div>
                <p class="card__description">${post.get("post.description")}</p>
                <a class="card__button button button--primary" href="/posts/${post.get("post.id")}">Read more</a>
                <div class="card__footer">
                    <img class="card__avatar" src="/images/user.png" alt="Avatar">
                    <p class="card__author">${post.get("user.firstname")} ${post.get("user.lastname")}</p>
                    <p class="card__date" title="$VelocityHelper.getDateTime($post.get("post.publicationdatetime"))">$VelocityHelper.getDateTime($post.get("post.publicationdatetime"))</p>
                </div>
            </div>
        #end
    </div>
    #parse("/views/fragments/pagination.vm")
</div>
#end