#parse("/views/layouts/full.vm")
#set($templatePageName = $errorPageTitle)
#@layoutFull()
<div class="container container--flex">
    <div class="error">
        <h1 class="error__code" data-text="${errorCode}">${errorCode}</h1>
        <p class="error__heading">${errorHeading}</p>
        <p class="error__description">${errorDescription}</p>
        <a class="error__button button button--primary" href="/">Return home</a>
    </div>
</div>
#end