<div class="alert">
    <div class="alert__inner">
        <div class="alert__header">
            <i class="alert__icon fa-solid"></i>
            <h2 class="alert__heading">Title</h2>
            <button class="alert__close-button button button--cancel"><i class="alert__xmark fa-solid fa-xmark"></i></button>
        </div>
        <div class="alert__description">
            Sample content goes here.
        </div>
        <div class="alert__footer">
            <button class="alert__button button button--primary">OK</button>
        </div>
    </div>
</div>
<script src="/js/alert.js"></script>