#* @vtlvariable name="csrf" type="java.lang.String" *#
#parse("/views/layouts/compact.vm")
#set($templatePageName = "Forgot Password")
#@layoutCompact()
<div class="container">
    <form class="forgot-password-form form" method="post" action="">
        <input type="hidden" name="_csrf" value="${csrf}">
        <div class="form__header">
            <h1 class="form__heading">Forgot your password?</h1>
            <p class="form__description">Enter the email address associated with your Universe account.</p>
        </div>
        <div class="form__row">
            <label class="form__label" for="forgot-password__email">Email</label>
            <input class="form__control" id="forgot-password__email" type="email" name="email" maxlength="255" tabindex="1">
            <p class="form__feedback"></p>
        </div>
        <div class="form__footer">
            <div class="form__row">
                <button class="form__button button button--primary">Request password reset</button>
            </div>
            <div class="form__row">
                <a class="form__link form__link--centered" href="/sign-in">Back to Sign In</a>
            </div>
        </div>
    </form>
</div>
<script src="/js/form-validation.js"></script>
<script>
    const forgotPasswordForm = document.querySelector(".forgot-password-form");
    applyValidation(forgotPasswordForm, "email", e => !EMAIL_REGEX.test(e.value) ? "Enter a valid email" : null);
    applyFormValidation(forgotPasswordForm);
</script>
#end