#* @vtlvariable name="csrf" type="java.lang.String" *#
#parse("/views/layouts/compact.vm")
#set($templatePageName = "Reset Password")
#@layoutCompact()
<div class="container">
    <form class="password-reset-form form" method="post" action="">
        <input type="hidden" name="_csrf" value="${csrf}">
        <div class="form__header">
            <h1 class="form__heading">Password Reset</h1>
            <p class="form__description">Please create a new password.</p>
        </div>
        <div class="form__row">
            <label class="form__label" for="password-reset__email">New password</label>
            <input class="form__control" id="password-reset__email" type="password" name="password" maxlength="30" tabindex="1">
            <p class="form__feedback"></p>
        </div>
        <div class="form__row">
            <label class="form__label" for="password-reset__password">Confirm new password</label>
            <input class="form__control" id="password-reset__password" type="password" name="confirm-password" maxlength="30" tabindex="2">
            <p class="form__feedback"></p>
        </div>
        <div class="form__footer">
            <div class="form__row">
                <button class="form__button button button--primary">Reset password</button>
            </div>
            <div class="form__row">
                <a class="form__link form__link--centered" href="/sign-in">Back to Sign In</a>
            </div>
        </div>
    </form>
</div>
<script src="/js/form-validation.js"></script>
<script>
    const passwordResetForm = document.querySelector(".password-reset-form");
    const passwordInput = passwordResetForm["password"];
    const confirmPasswordInput = passwordResetForm["confirm-password"];

    let passwordValidator;
    let confirmPasswordValidator;
    passwordValidator = e => {
        if (confirmPasswordInput.value !== "") {
            validate(confirmPasswordInput, confirmPasswordValidator);
        }
        if (e.value === "") {
            return "Enter a password"
        } else if (!PASSWORD_REGEX.test(e.value)) {
            return "Password must be between 8 and 30 characters long and contain at least one uppercase letter, one lowercase letter, one number, and one special character";
        }
        return null;
    };
    confirmPasswordValidator = e => {
        if (e.value === "") {
            return "Confirm your password";
        } else if (e.value !== passwordInput.value) {
            return "Passwords do not match";
        }
        return null;
    };
    applyValidation(passwordResetForm, "password", passwordValidator);
    applyValidation(passwordResetForm, "confirm-password", confirmPasswordValidator);
    applyFormValidation(passwordResetForm);
</script>
#end